body {
    margin: 0;
    padding: 0;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 60px;
    align-items: center;
}
.nav-right-side {
    margin: 10px 35px;
}
.nav-right-side > h2{
    color: grey;

}
.nav-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    gap: 20px;
}
.nav-btn {
    color: rgb(100,100,100);
    background-color: transparent;
    border: none;
    font-size: 18px;
}

/* Main section */
.main-body {
    margin: 30px 0 20px 32px;
}
.heading {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 0;
}
.para {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 0;
}
.main-img {
    width: 1170px;
    height: 750px;
}
.main-left-div {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    /* align-items: start; */
    margin: 20px 40px 0 0;
}
.btn {
    width: 120px;
    height: 35px;
    font-size: 16px;
}
#login_btn {
    background-color: black;
    color: white;
}
#signup_btn {
    border: 1.6px solid black;
}